fastapi
uvicorn
pyyaml
python-dotenv
sqlalchemy
pydantic[email]
python-jose
bcrypt
passlib
faker
boto3
torch
scikit-learn
redis
#psycopg2 #uncomment for local setup
python-multipart
transformers
httpx