fastapi
uvicorn
pyyaml
python-dotenv
sqlalchemy
pydantic[email]
python-jose
bcrypt
passlib
faker
boto3
torch
scikit-learn
redis
python-multipart
transformers
httpx
psycopg2 #comment it if docker build throws error. it is explicitly intalled in Dockerfile